


<div class="jumbotron main">

</div>
<h1 align="center" class="brand_heading">SALES & DISCOUNTS</h1>
<p align="center" class="brand_heading">BUY ONLINE, PICK UP IN STORE & GET EXTRA 30% OFF YOUR NEXT STORE PURCHASE!</p>
<hr class="brand_heading">

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <a href="#" class="list-group-item disabled">
          Cras justo odio
        </a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item disabled">
          Cras justo odio
        </a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Morbi leo risus  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Porta ac consectetur ac  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Vestibulum at eros  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Morbi leo risus  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Porta ac consectetur ac  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Vestibulum at eros  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Morbi leo risus  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Porta ac consectetur ac  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Vestibulum at eros  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Vestibulum at eros  <span class="badge">42</span></a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcROqtjgEYkF07c-nBUP_EGgpXgUDrungMVf6SVJCZWP-CD6fmfYb7D_qXIZP9uq8_7e1pHM6s8&usqp=CAE" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcT_jZvIm4yJM5Kc1ugoK9PXzOU05Dj-E1Yj-TaB40peECX4S5blkWRQaX8_JtfkK_8yMdn3QkpQ&usqp=CAY" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQuqp-aHhMzG3Uosw8XI769K_aYQ5HHdCwaMk-4AcYT2szO-eoHzYbDnmRFSXtW71eBYwQIkWA&usqp=CAY" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRv4S5jku10GgMDWop7ENzYA9K_kGoXbzZAJdgvNqc1uLPnfrOyytUpiAnG5w59UgXm-o3hwfk&usqp=CAY" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcR8DwZFAkIjcnhx3yGkpkAlFz_J2P4Sy6ebLXtZdmVdvRvMg99KKobt6iP0jbrVeUZXdpGsfzE&usqp=CAY" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://www.reeds.com/pub/media/catalog/product/cache/image/700x700/e9c3970ab036de70892d86c6d221abfe/m/e/men_s_movado_series_800_chronograph_two-tone_watch_2600146-2-19781731.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>





<hr>
