<h1 align="center">SALES & DISCOUNTS</h1>
<p align="center">BUY ONLINE, PICK UP IN STORE & GET EXTRA 30% OFF YOUR NEXT STORE PURCHASE!</p>
<hr>

<div class="jumbotron main">

</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <a href="#" class="list-group-item disabled">
          Cras justo odio
        </a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item disabled">
          Cras justo odio
        </a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Morbi leo risus  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Porta ac consectetur ac  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Vestibulum at eros  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Morbi leo risus  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Porta ac consectetur ac  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Vestibulum at eros  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Morbi leo risus  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Porta ac consectetur ac  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Vestibulum at eros  <span class="badge">42</span></a>
        <a href="#" class="list-group-item">Vestibulum at eros  <span class="badge">42</span></a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://www.reeds.com/pub/media/catalog/product/cache/image/700x700/e9c3970ab036de70892d86c6d221abfe/m/e/men_s_movado_series_800_chronograph_two-tone_watch_2600146-2-19781731.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://www.reeds.com/pub/media/catalog/product/cache/image/700x700/e9c3970ab036de70892d86c6d221abfe/m/e/men_s_movado_series_800_chronograph_two-tone_watch_2600146-2-19781731.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://www.reeds.com/pub/media/catalog/product/cache/image/700x700/e9c3970ab036de70892d86c6d221abfe/m/e/men_s_movado_series_800_chronograph_two-tone_watch_2600146-2-19781731.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://www.reeds.com/pub/media/catalog/product/cache/image/700x700/e9c3970ab036de70892d86c6d221abfe/m/e/men_s_movado_series_800_chronograph_two-tone_watch_2600146-2-19781731.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://www.reeds.com/pub/media/catalog/product/cache/image/700x700/e9c3970ab036de70892d86c6d221abfe/m/e/men_s_movado_series_800_chronograph_two-tone_watch_2600146-2-19781731.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://www.reeds.com/pub/media/catalog/product/cache/image/700x700/e9c3970ab036de70892d86c6d221abfe/m/e/men_s_movado_series_800_chronograph_two-tone_watch_2600146-2-19781731.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>





<hr>
